<section>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% @all_users.each do |user| %>
        <div class='each-user'>
            <div class="user-image">
                <% if user.photo.present? %>
                    <%= image_tag user.photo %>
                <% else %>
                    <%= 'Image not found' %> 
                <% end %>
            </div>
            <div class='user-activity'>
                <h1><%= link_to user.name, user_path(user.id) %></h1>
                <p>Number of posts: <%= user.posts_counter %></p>
            </div>
        </div>
    <% end %>
</section>
